/** yes i coded this don't @ me - APL **/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/** firefox specific rule **/

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

/**** FONTS ****/

@font-face {
  font-family: "Dia Regular";
  src: url("../fonts/Dia-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Dia-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Dia-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Dia Bold";
  src: url("../fonts/Dia-Bold.eot");
  src: url("../fonts/Dia-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Dia-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("../fonts/apercu_mono.eot");
  src: url("../fonts/apercu_mono.eot?#iefix") format("embedded-opentype"),
    url("../fonts/apercu_mono.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

/**** ACROSS ALL PAGES: STYLES ****/

body {
  font-family: "Dia Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1400 - 300)));
  line-height: 1.2;
  color: #707070;
  background-color: #f4f4f4;
  padding-top: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  opacity: 100;
}

a {
  color: #295bbb;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #707070;
  transition: all 0.5s ease;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1040px;
  padding-top: 40px;
}

/* h1 is used for the site title */

h1 {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1400 - 300)));
  font-family: "Dia Bold";
  font-weight: 400;
  line-height: 1;
  color: #f2c113;
}

/* h2 is the largest display size */

h2 {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1400 - 300)));
  font-weight: 100;
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2.coming-soon {
  color: #969696;
}

/* h3 is for the project titles */

h3 {
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1400 - 300)));
  font-weight: 100;
  line-height: 1.2;
}

h4 {
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1400 - 300)));
  font-weight: 100;
  font-family: "Apercu Mono";
  line-height: 1.2;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5 {
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1400 - 300)));
  font-family: "Apercu Mono";
  font-weight: 100;
  line-height: 1.2;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 10px;
}

li {
  font-family: "Dia Bold";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1400 - 300)));
  letter-spacing: 0.1em;
  margin: 0;
  color: #f2c113;
}

sup {
  display: inline-block;
  font-size: 12px;
  font-family: Dia Bold;
  color: inherit;
  margin-left: 5px;
}

fade-in {
  transition: all 500ms;
}

/* GENERAL CONTAINER / SECTION STYLING */

.container {
  height: 100%;
  min-height: 100%;
  max-width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.filters-container {
  width: 100%;
  max-width: 900px;
  line-height: 3;
}

/* PROJECT PAGE-SPECIFIC STYLING */

div.project-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

img.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-description {
  width: 100%;
  max-width: 450px;
  padding: 20px 0px 20px 0px;
  margin-left: auto;
  margin-right: auto;
}

div.project-twoimg {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  margin: 10px auto 10px auto;
  justify-content: space-around;
}

img.project-twoimg {
  width: 100%;
  max-width: 450px;
  height: 100%;
  padding: 5px;
}

div.project-stackimg {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

img.project-stackimg {
  width: 100%;
  height: 100%;
  margin: 10px auto 10px auto;
}

/*** INDEX ROTATE STYLE ***/

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(01px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.projects-container a.proj-title:hover {
  color: #f2c113;
  transition: all 0.5s ease;
  border-bottom: none;
}

/* HEADER-SPECIFIC STYLES */

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header h1 {
  width: autox;
  margin: 40px;
}

header nav {
  text-align: right;
  margin: 40px;
}

.main-nav {
  width: auto;
  min-width: 100px;
  line-height: 1;
}

header nav a {
  font-family: "Dia Regular";
  font-style: normal;
  font-weight: 100;
  margin-left: 10px;
  transition: border 0.2s ease;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
  transition: all 500ms;
  color: #295bbb;
}

header nav a:hover {
  color: #707070;
}

header nav a.selected {
  border-color: #f2c113;
  border-width: 2px;
}

/**** INDEX PAGE: PROJECT FILTERING STYLES ****/

section.projects {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 900px;
  align-items: flex-start;
}

section.home-text {
  width: 100%;
  max-width: 800px;
  padding-bottom: 20px;
}

.project-filters a {
  font-family: "Dia Bold";
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  transition: border 0.2s ease;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
  transition: all 500ms ease;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #f2c113;
}

.project-filters a:hover {
  color: #707070;
}

.project-filters a.selected {
  border-bottom: solid 2px #f2c113;
  padding-bottom: 3px;
}

.project-filters .show-filters:hover {
  border-bottom: none;
  padding-bottom: 0px;
}

/** lol if u copy my code i'll find u - APL **/

.project-filters {
  margin-bottom: 20px;
  text-align: center;
}

.project-filters li {
  display: inline;
}

.show-filters {
  display: none;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.all-projects {
  display: flex;
  flex-wrap: nowrap;
}

.proj-title {
  color: #295bbb;
  line-height: 1;
  padding-bottom: 3px;
  opacity: 1;
}

h2 .hidden {
  opacity: 0.5;
}

h2 .selected {
  opacity: 1;
}

.all-projects {
  opacity: 1;
  transition: visibility 0s linear 1200ms, opacity 600ms;
}

.hidden {
  opacity: 0.3;
  transition: visibility 0s linear 1200ms, opacity 600ms;
}

/* ABOUT PAGE TINGS */

.about-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 300px) and (max-width: 670px) {
  div .about-top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  header nav a {
    margin-bottom: 9px;
  }

  .filters-container {
    max-width: 200px;
  }
}

.about-top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about-img {
  height: 100% !important;
  width: calc(200px + (460 - 200) * ((100vw - 200px) / (1400 - 200)));
  margin: 10px 0px 10px 10px;
}

.about-text {
  padding-top: 10px;
  max-width: 450px;
  margin: 10px 10px 10px 20px;
}

/* ABOUT PAGE LISTS */

.about-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 91%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about-list {
  width: 224px;
  margin: 0px 5px 0px 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.about-list-stack {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

/* FOOTER STYLES */

.footer-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  position: relative;
  margin: 40px 0px 20px 0px;
  width: 100%;
}

.footer-right {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.adela-logo {
  width: 100%;
  max-width: 75px;
  padding-bottom: 10px;
}

/* INDEX PAGE HOVERS */

.hover {
  display: inline;
}

div.image {
  z-index: -999;
  transition: all 500ms ease;
  opacity: 0.3;
  margin-left: -50px;
}

div.hover {
  position: relative;
}

/* MEDIA QUERIES */

@media screen and (min-width: 770px) and (max-width: 981px) {
  .container {
    width: 100%;
    max-width: 700px;
  }

  .projects-container {
    width: 100%;
    max-width: 700px;
  }

  .projects .container {
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .about-list-container {
    max-width: 600px;
  }

  .adela-logo {
    max-width: 25px;
  }
}

@media screen and (min-width: 680px) and (max-width: 770px) {
  .container {
    width: 100%;
    max-width: 600px;
  }

  .projects .container {
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }

  .about-list-container {
    max-width: 600px;
  }

  .adela-logo {
    max-width: 25px;
  }

  div.project-twoimg {
    width: 100%;
    max-width: 900px;
    display: column;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 10px auto;
  }
}

@media screen and (max-width: 755px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  header nav a {
    margin-bottom: 10px;
  }

  div .about-text {
    margin: 0px 20px 20px 20px;
  }

  .adela-logo {
    max-width: 25px;
  }
}

@media screen and (min-width: 300px) and (max-width: 980px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 3;
    margin: 20px;
  }

  .adela-logo {
    max-width: 25px;
  }

  div.project-twoimg {
    width: 100%;
    max-width: 900px;
    display: column;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 10px auto;
  }
}

@media screen (min-width: 980px) {
  div.project-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 200px;
    height: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  .footer-container {
    max-width: 280px;
  }

  div.project-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 680px) {
  .container {
    width: 100%;
    max-width: 550px;
  }

  .projects .container {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .filters-container {
    max-width: 600px;
  }

  li {
    font-size: 16px;
  }

  header nav a {
    margin-bottom: 9px;
  }

  .project-description {
    width: 100%;
    max-width: 580px;
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 520px) and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 480px;
  }

  .projects .container {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .filters-container {
    max-width: 200px;
  }

  li {
    font-size: 16px;
    line-height: 2;
  }

  header nav a {
    text-align: right;
    margin-bottom: 8px;
  }

  .project-description {
    width: 100%;
    max-width: 500px;
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 420px) and (max-width: 520px) {
  .project-description {
    width: 100%;
    max-width: 400px;
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .projects .container {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  section .projects {
    min-height: 600px;
  }

  .filters-container {
    max-width: 200px;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  section.home-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  section .projects {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 340px) and (max-width: 420px) {
  section.home-text {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  section .projects {
    width: 300px;
  }

  .footer-container {
    max-width: 320px;
  }

  .project-description {
    width: 100%;
    max-width: 320px;
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 340px) {
  section.home-text {
    width: 280px;
  }

  .project-description {
    width: 100%;
    max-width: 280px;
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
