/** yes i coded this don't @ me - APL **/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/** firefox specific rule **/

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

/**** FONTS ****/

@font-face {
  font-family: "Dia Regular";
  src: url("../fonts/Dia-Regular.eot") format("embedded-opentype");
  src: url("../fonts/Dia-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Dia-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Dia Bold";
  src: url("../fonts/Dia-Bold.eot");
  src: url("../fonts/Dia-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Dia-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("../fonts/apercu_mono.eot");
  src: url("../fonts/apercu_mono.eot?#iefix") format("embedded-opentype"),
    url("../fonts/apercu_mono.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

/**** ACROSS ALL PAGES: STYLES ****/

body {
  font-family: "Dia Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #707070;
  background-color: #f4f4f4;
  padding-top: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  opacity: 100;
}

a {
  color: #295bbb;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #707070;
  transition: all 0.5s ease;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1040px;
  padding-top: 40px;
}

/* h1 is used for the site title */

h1 {
  font-size: 36px;
  font-family: "Dia Bold";
  font-weight: 400;
  line-height: 1;
  color: #f2c113;
}

/* h2 is the largest display size */

h2 {
  font-size: 36px;
  font-weight: 100;
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2.coming-soon {
  color: #969696;
}

/* h3 is for the project titles */

h3 {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  font-family: "Apercu Mono";
  line-height: 1.2;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5 {
  font-size: 14px;
  font-family: "Apercu Mono";
  font-weight: 100;
  line-height: 1.2;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  padding-bottom: 5px;
}

li {
  font-family: "Dia Bold";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 0;
  color: #f2c113;
}

sup {
  display: inline-block;
  font-size: 12px;
  font-family: Dia Bold;
  color: inherit;
  margin-left: 5px;
}

fade-in {
  transition: all 500ms;
}

/* GENERAL CONTAINER / SECTION STYLING */

.container {
  height: 100%;
  min-height: 100%;
  max-width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/* PROJECT PAGE-SPECIFIC STYLING */

div.project-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.project-img {
  width: 100%;
  max-width: 900px;
  margin: 10px 0px 10px 0px;
}

.project-description {
  width: 100%;
  max-width: 450px;
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

div.project--twoimg {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  margin: 10px auto 10px auto;
}

img.project--twoimg {
  width: 100%;
  max-width: 450px;
  height: 100%;
  padding: 5px;
}

section.project-info {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-left: 200px;
  margin-right: auto;
  height: 100%;
}

/*** INDEX ROTATE STYLE ***/

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(01px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.projects-container a.proj-title:hover {
  color: #f2c113;
  transition: all 0.5s ease;
  border-bottom: none;
}

/* HEADER-SPECIFIC STYLES */

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header h1 {
  width: 440px;
  margin: 40px;
}

header nav {
  text-align: center;
  margin: 40px;
}

header nav a {
  font-family: "Dia Regular";
  font-style: normal;
  font-weight: 100;
  margin-left: 10px;
  transition: border 0.2s ease;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
  transition: all 500ms;
  color: #295bbb;
}

header nav a:hover {
  color: #707070;
}

header nav a.selected {
  border-color: #f2c113;
  border-width: 2px;
}

/**** INDEX PAGE: PROJECT FILTERING STYLES ****/

section.projects {
  display: flex;
  min-height: 800px;
  width: 100%;
  max-width: 900px;
  align-items: flex-start;
}

section.home-text {
  width: 100%;
  max-width: 800px;
  padding-bottom: 20px;
}

.project-filters a {
  font-family: "Dia Bold";
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  transition: border 0.2s ease;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
  transition: all 500ms ease;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #f2c113;
}

.project-filters a:hover {
  color: #707070;
}

.project-filters a.selected {
  border-bottom: solid 2px #f2c113;
  padding-bottom: 3px;
}

.project-filters .show-filters:hover {
  border-bottom: none;
  padding-bottom: 0px;
}

/** lol if u copy my code i'll find u - APL **/

.project-filters {
  margin-bottom: 20px;
  text-align: center;
}

.project-filters li {
  display: inline;
}

.show-filters {
  display: none;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.all-projects {
  display: flex;
  flex-wrap: nowrap;
}

.proj-title {
  color: #295bbb;
  margin-left: 5px;
  line-height: 1;
  padding-bottom: 3px;
  opacity: 1;
}

h2 .hidden {
  opacity: 0.5;
}

h2 .selected {
  opacity: 1;
}

.all-projects {
  opacity: 1;
  transition: visibility 0s linear 1200ms, opacity 600ms;
}

.hidden {
  opacity: 0.3;
  transition: visibility 0s linear 1200ms, opacity 600ms;
}

/* ABOUT PAGE TINGS */

.about-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.about-top-section {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  width: 100%;
  max-width: 460px;
  height: 100%;
}

.about-text {
  padding-left: 20px;
  padding-top: 10px;
  width: 450px;
}

/* ABOUT PAGE LISTS */

.about-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about-list {
  width: 224px;
  padding: 0px 5px 0px 5px;
}

.about-list-stack {
  width: 224px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
}

/* FOOTER STYLES */

.footer-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  margin-left: 200px;
}

.main-footer {
  position: relative;
  padding: 4rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer-right {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.adela-logo {
  width: 100%;
  max-width: 75px;
}

/* INDEX PAGE FUNNY HOVERS */

img.tab-hover {
  height: auto;
  width: 100%;
  max-width: 400px;
  display: none;
}

.hover {
  display: inline-block;
}

div.image {
  z-index: -999;
  transition: all 500ms ease;
  opacity: 0.3;
}

/* MEDIA QUERIES */
